body {
   background-image: url(https://static9.depositphotos.com/1006269/1105/i/450/depositphotos_11058387-stock-photo-ukrainian-flag.jpg);
background-size: 100%;
background-position: 30%;
background-size: cover;
    }
h1 {
    text-align: center;
}
